/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  padding-bottom: 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(135deg, #cb9fea 0%, #7555a7 100%);
  color: #ffffff;
  position: relative;
  border-bottom: 6px solid #aa79ff;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroDescription {
  font-size: 1.1rem;
  margin-top: 1rem;
  opacity: 0.8;
}
