/* shared */
body { 
  font-family: 'Source Sans Pro', sans-serif;
  margin:0px 0px; 
  -webkit-font-smoothing: antialiased;
}

/* heading */
#hero {
  background: linear-gradient(135deg, #cb9fea 0%,#7555a7 100%);
  position:relative;
  border-bottom: 6px solid #AA79FF;
  text-align:center;
  margin-bottom: 120px;
}

#hero img {
  position: absolute;
  margin-top: -220px;
  margin-left: -143px;
}

.header {
  padding-top: 120px;
  padding-bottom: 290px;
  width:100%;
  color:#fff;
}

.header h1 {
  font-family: SourceSansPro-SemiBold;
  font-size: 80px;
  margin: 0;
}

.header h2 {
  font-size: 40px;
  font-weight: 300;
  margin: 0;
}

nav {
  margin-top: 60px;
}

.button, button {
  text-decoration: none;
  transition: background 0.5s ease;
  display: inline-block;
  padding: 10px 40px;
  margin: 0px 10px;
  background: #FFFFFF;
  border: 1px solid #AA79FF;
  border-radius: 4px;
  font-size: 24px;
  font-weight: 300;
  color: #7C53AA;
}

.button:hover, button:hover {
  cursor: pointer;
  background: #CB9FEA;
  color: #ffffff;
}

/* content */
#content, #footer {
  padding: 0 20px;
}
