/* shared */
body { 
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 21px;
  margin:0px 0px; 
  -webkit-font-smoothing: antialiased;
  color: #333333;
}

/* heading */
#hero {
  background: linear-gradient(135deg, #cb9fea 0%,#7555a7 100%);
  position:relative;
  border-bottom: 6px solid #AA79FF;
  text-align:center;
  margin-bottom: 130px;
}

#hero img {
  position: absolute;
  margin-top: -220px;
  margin-left: -143px;
}

#hero header {
  padding-top: 120px;
  padding-bottom: 290px;
  width:100%;
  color:#fff;
}

#hero header h1 {
  font-size: 80px;
  margin: 0;
}

#hero header h2 {
  font-size: 40px;
  font-weight: 300;
  margin: 0;
}

nav {
  margin-top: 60px;
}

.button, button {
  text-decoration: none;
  transition: background 0.5s ease;
  display: inline-block;
  padding: 10px 40px;
  margin: 0px 10px;
  background: #FFFFFF;
  border: 1px solid #AA79FF;
  border-radius: 4px;
  font-size: 24px;
  font-weight: 300;
  color: #7C53AA;
}

.button:hover, button:hover {
  cursor: pointer;
  background: #CB9FEA;
  color: #ffffff;
}

.secondary {
  margin-left: 0;
  background: #7C53AA;
  color: #ffffff;
}

a {
  color: #7555a7;
}

/* content */
#content {
  padding: 0 40px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

article header h1 {
  font-size: 32px;
  font-weight: 600;
}

article p {
  font-size: 21px;
}

article img {
  width: 100%;
}

hr {
  margin: 100px 0;
  border: 0;
  height: 0;
  border-top: 2px solid #AA79FF;
}

.hr {
  margin: 100px 0;
  width: 100%;
  height: 1px;
  border-top: 2px solid #AA79FF;
  text-align: center;
}

.hr img {
  position: absolute;
  margin-left: -20px;
  margin-top: -36px;
}

.hr.footer {
  margin: 100px 0 0 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(135deg, #7555a7 0%, #cb9fea 100%);
  border-top: 6px solid #AA79FF;
  text-align: center;
}

.block {
  overflow: hidden;
  padding: 1rem 0;
  margin: 20px 0 0px 0;
  border-bottom: 1px dashed #ededed;
}
.block img {
  max-width: 120px;
  float: left;
  margin: 0 2rem 0 0;
}
.block h2 {
  font-weight: 600;
  font-size: 24px;
  margin: 0 0 0.5rem 0;
}
.block > div {
  padding-left: calc(140px + 1rem);
}

.block p {
  font-size: 18px;
}

.block.img-right img {
  float: right;
  margin: 0 0 0 2rem;
}

.block.img-right > div {
  padding-right: calc(140px + 1rem);
  padding-left: 0;
}

article h3 {
  font-weight: 600;
  font-size: 24px;
}

pre {
  background: #f6f8fa;
  border-radius: 3px;
  padding: 20px;
  white-space: pre-wrap;
}

li {
  text-decoration: none;
}

.logos {
  align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.logos img {
  max-height: 128px;
  width: 128px;
  padding: 20px;
}

@media only screen and (min-width : 320px) and (max-width : 768px) {
  #hero header {
    padding-top: 60px;
  }
  
  #hero header h1 {
    font-size: 44px;
  }

  #hero header h2 {
    font-size: 24px;
  }

  .button, button {
    padding: 5px 14px;
    margin: 0px 1px;
    font-size: 17px;
  }

  nav {
    margin-top: 25px;
  }
}
