<link rel="stylesheet" href="{{staticPath}}css/styles.css">

<div id="wrapper">
  <div id="hero">
    <div class="header">
      <h1>OpenComponents</h1>
      <h2>Painless micro frontends delivery</h2>
      <nav>
        <a class="button" href="https://github.com/opentable/oc">GitHub</a>
        <a class="button" href="https://github.com/opentable/oc/wiki">Documentation</a>
        <a class="button" href="https://gitter.im/opentable/oc">Ask the team</a>
      </nav>
    </div>
    <img class="logo" src="{{staticPath}}img/opencomponents-logo.png" />
  </div>
  <div id="content">
    Content here
  </div>
  <div id="footer">
    Footer here
  </div>
</div>
